@font-face {
    font-family: soDoSans;
    src: url("./fonts/SoDoSans.ttf");
  }

  *{
    font-family: soDoSans;
  }
.navBar{
    display: flex;
    justify-content: space-between;
    height:65px;
    padding:20px;
    margin-right: 40px;
    width:97.5%;
    border-bottom: 2px solid rgb(218,218,218);
    background-color: rgb(255, 254, 253);
}
.rightSide-Nav, .leftSide-Nav{
    display: flex;
    gap:10px;
    align-items: center;
}
.logo{
    height:55px;
}

.navLink{
    text-decoration: none;
    color: rgb(23, 22, 22);
    font-weight: bold;
}
.navLink:hover{
    color:darkgreen;
}

.navBtn-SignUp{
    background-color: transparent;
    font-weight: bold;
}

.navBtn-Join{
    background-color: black;
    color:white;
    font-weight: bold;
}

.mapMarker{
    height:25px;
}
.mapMarker:hover{
    cursor: pointer;
}

.navFlex{
    display: flex;
    gap:5px;
    margin-right: 10px;
}
.btnStandard{
    height:30px;
    width: 80px;
    border-radius: 20px;
    border:1px solid black;
}
.btnStandard:hover{
    opacity: 60%;
}






.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bodyImage{
    height:627px;
}

.bodyOuterBox{
    width:1440px;
    height:625px;
    /* border: 2px solid black; */
    margin-top: 30px;
    display: flex;
    display: flex;
    text-align: center;
}

.boxOne{
    background: rgb(235,129,165);
}

.boxTwo{
    background-color: rgb(241,255,103);
}

.boxText{
    width: 715px;
    margin:40px;
    padding: 20px;
}

.boxText h2{
    font-size: 52px;
    font-weight: bold;
    font-family: soDoSans;
}
.boxText p{
    font-size: 24px;
    font-weight: normal;
    font-family: soDoSans;
}


.orderBtn-Body{
    background-color: transparent;
    border-radius: 20px;
    height:35px;
    width:115px;
    font-size: 16px;
    font-weight: bold;
    border:1px solid black;
    margin: 10px;
}
