.App{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.navBar{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content:space-around;
  gap: 40px;
  padding-top: 50px;
  /* margin: 20px -85px ; */
  width: 100%;
  height:70px;
  background-color: transparent;
}


button{
  background-color: transparent;
  border:none;
  text-decoration: none;
  padding: 22px;
  font-size: 20px;
}

button:hover{
  font-size: 23px;
  text-decoration: underline;
  padding: 15px;
  color:rgb(0, 0, 0);
  cursor: pointer;
}
.body{
  background-color: rgb(214, 212, 212);
}
section{
  height:100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
    /* background-color: beige; */
    /* background-color: rgb(145, 111, 78); */
    background-color: rgb(255,255,255);
    /* border-bottom: 2px solid black; */
    width: 1500px;
    /* margin-bottom: 30px; */
}

.container{
  scroll-snap-type: y mandatory ;
  overflow-y: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}


/* 
.pageOne{
  background-color: peru;
  background-color: beige;
}
.pageTwo{
  background-color: cornsilk;
  display: flex;
}
.pageThree{
  background-color: lightslategrey;
}
.pageFour{
  background-color: rgb(213, 203, 184);
} */



.firstPageAlign{
  display: flex;
  gap: 50px;
}

.nicole{
  height:570px;
  /* margin-left: 70px; */
  border-radius: 100%;
  /* box-shadow: 0px 0px 12px  rgb(255, 255, 255); */
}


.photo-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:170px;
  margin: 120px;
  /* width: 1200px; */
}

.text{
  display: flex;
  font-size: 30px;
  /* margin: 0 40px; */
  /* padding:0 100px; */
  margin: auto;
  flex-direction: column;
  align-items: center;

}

.typewriter{
  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(230, 230, 236);
  border-radius: 10px;
  padding:2px;
}

.text p{
  font-size:24px;
  margin: auto;
}

.socialIcons{
  margin:15px;
}

.socialIcons:hover{
  cursor: pointer;
}
.text-display{
  font-size: 18px;
  display: flex;
  gap:50px;
  margin:0 50px;
  /* margin-top: 50px; */
}

.text-header{
  font-size: 30px;
}

.section-content{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.section-content-center-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}


.footer{
  display: flex;
  /* justify-content: flex-end; */
  align-items: end;
}

.logo{
  height:250px;
  color: gold;
}

.skills-box{
  display: flex;
  gap:30px;
}

/* .my-project{
  margin-top:80px;
} */

/* .carousel{
  width: 600px !important;
  height: 400px;
  margin:20px;
} */

/* .carouselBtn{
  margin: 0;
} */ 

.card{
  height: 315px;
  width: 450px;
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  margin:0 15px 15px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-photo{
  height: 275px;
  width: 420px;
  display: flex;
  padding: 2px;
}

.card-photo:hover{
  height: 350px;
  width: 460px;
  cursor: pointer;
  margin-bottom: 15px;
}


@font-face {
  font-family: qwigley-regular;
  src: url("./fonts/Qwigley-Regular.ttf");
}

.projectsTitle{
  font-family: qwigley-regular;
  font-size: 80px;
  font-weight: lighter;
  margin-top: 60px;
  text-align: center;
}
.text h1{
  margin:auto;
  
}
.textHeaderFont{
  font-family: qwigley-regular;
  font-size: 80px;
  font-weight: lighter;
}

@media (max-width: 960px) {
  .card{
    height: 100px;
    width:600px;
  }
  .card-photo{
    display: none;
  }
  .text-display{
    display: flex;
    flex-direction: column;
    padding:auto;
    gap:0;
  }
  .seperate-cards{
    margin: 0;
  }
}



@media (max-width: 852px) {
  
  .nicole{
    display: none;
  }
  /* .seperate-cards{
    display: flex;
    flex-direction: column;
  } */
  .card{
    margin: 0;
    height: 60px;
    width:390px;
  }
  .card-photo{ 
    display: none;
  }
  .text-display{
    display: flex;
    flex-direction: column;
    padding:auto;
    gap:0;
  }
  .seperate-cards{
    margin: 0;
  }
  /* .pageThree.logo{
    display: none;
  } */
  .logo{
    width:210px;
    height:180px;
    margin-left: 90px;
  }
}




/* @media (max-width: 390px) {
  .nicole{
    display: none;
  }
} */
