.navBarContainer{
    height:100px;
    width:100%;
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(246, 241, 236);
  }
  
  .logoPhoto{
    height:400px;
  }
  
  .navBarContainer button{
    border:none;
    font-size: 18px;
    background-color: transparent;
    font-weight: lighter;
    border-bottom: 1px solid black;
  }
  